@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Kalam:wght@300;400;700&display=swap');
$fonts-headline: 'Kalam', cursive, arial, sans-serif;
$fonts-body: 'Didact Gothic', arial, sans-serif;
$background-color: #d8eff7;
$primary: #639fa7;
$accent1: #253e41;
$accent2: #c9daed;
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #555;
$text-light: #fff;
